@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
body {
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
}

form {
  background-color: white;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
  padding: 1rem 2rem;
  min-height: 300px;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

form > * {
  margin: 1rem 2rem;
}

@media screen and (max-width: 600px) {
  form {
    width: 100vw;
    margin-top: 2%;
    box-shadow: none;
  }
  .container {
    align-items: flex-start;
    background-color: white;
  }
}

.submitButton {
  cursor: pointer;
  padding: 1rem;
  border: 2px solid #8ab487;
  width: 90%;
  font-size: .8rem;
}

.submitButton:hover {
  border: 2px solid rgba(0, 0, 0, 0.15);
  background-color: #8ab487;
  color: white;
}

.numeralInput {
  font-size: .8rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.15);
  width: 90%;
  height: 2rem;
  text-align: center;
}

.result {
  width: 90%;
  font-size: 1rem;
}

.h3-header {
  font-size: 1rem;
}


