.user-list {
  height: 100%;
  padding: 3rem;
  background-color: $color-white;
  background-size: 100%;
  border-radius: 3px;
}

.user--locked {
  background-color: $color-grey-light-2;
  & td:not(:last-child) {
    text-decoration: line-through;
  }
}

.user-table {
  border-collapse: collapse;
  margin-top: 3rem;
  table-layout: fixed;
  width: 100%;

  & tr:not(:last-child) td:not(:last-child){
    border-bottom: 1px solid $color-grey-light-2;
  }

  & th {
    padding: .5rem 1rem;
  }

  & td {
    font-size: 1.8rem;
    padding: .6rem 1.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    & a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  height: 8rem;
  align-items: center;
}



