// COLORS
$color-primary: #639BC2;
$color-primary-light: #75B7E6;
$color-primary-dark: #416580;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: black;


// FONT
$default-font-size: 1.6rem;

